.container-fluid img {
  height: 40px;
  width: 40px;
  object-fit: cover; }

nav {
  background-color: #cb997e; }

nav li:hover {
  background-color: #ddbea9; }

.nav-item ul {
  background-color: #cb997e; }

footer {
  display: flex;
  justify-content: center; }

footer img {
  height: 80px;
  width: 80px; }

.body {
  background-color: #ffe8d6; }

h1 {
  color: #a5a58d; }

h2 {
  color: #b7b7a4; }

.bienvenida {
  display: flex;
  justify-content: center; }

.subBienvenida {
  display: flex;
  justify-content: center;
  text-align: center; }

.carusel {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto; }

.carousel-item img {
  height: 450px;
  width: 600px;
  object-fit: cover; }

.bodyProduc {
  background-color: #b7b7a4; }
