//doy tamaño al logo dentro del nav
.container-fluid img{
    height: 40px;
    width: 40px;
    object-fit: cover; 
}

nav {
    background-color: $rosa2;
}

nav li:hover {
    background-color: $rosa1; 
}

.nav-item ul {
    background-color: $rosa2; 
}

footer {
    display: flex;
    justify-content: center;
    margin: 3%;
}

footer div{
    margin: 3%;
}

.footerBases {
    display: flex;
    justify-content: space-between;
}

.footerBases img {
    height: 100;
    width: 70;
}

.footerRedes img{
    align-content: center;
}

.footerRedes h3{
    font-size: medium;
    color: $verde2;
}

.footerRedes img {
    height: 50px;
    width: 50px;
}