//doy estilo al nav
.container-fluid img{
    height: 40px;
    width: 40px;
    object-fit: cover; 
}

nav {
    background-color: $rosa2;
}

nav li:hover {
    background-color: $rosa1; 
}

//doy estilo al footer
footer {
    display: flex;
    justify-content: center;
    margin: 3%;
}

footer div{
    margin: 3%;
}

.footerBases {
    display: flex;
    justify-content: space-between;
}

.footerBases img {
    height: 100;
    width: 70;
}

.footerRedes img{
    align-content: center;
}

.footerRedes h3{
    font-size: medium;
    color: $verde2;
}

.footerRedes img {
    height: 50px;
    width: 50px;
}

//hago el sitio resposive para telefonos celulares
@media only screen and (max-width: 576px) {
    p {
        font-size: small; };
    h1 {
        font-size: medium; };
    h2 {
        font-size: medium; }
    h3 {
        font-size: small;
    }
    h4 {
        font-size: small;
    }
    .card img {
        height: 140px;
        width: 250px;
        object-fit: cover; }
    .card {
        height: 450px;
        width: 250px; }
    #carouselExampleIndicators {
        height: 250px;
        width: 250px;
        object-fit: cover; }
    .footerBases div img{
        height: 60px;
        width: 40px;
        border-radius: 2em;
    }
}