//doy color de fondo a la pagina de inicio
body {
    background-color: $piel;
    }

h1 {
    color: $verde2;
}

h2 {
    color: $verde1
}

.bienvenida {
    display: flex;
    justify-content: center;
}

.subBienvenida {
    display: flex;
    justify-content: center;
    text-align: center;
}

.carusel {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    height: 80px;
    width: 80px;
}
