//doy color de fondo a la pagina de inicio
.body {
    background-color: $piel;
    }

//doy estilo a los titulos
.body h1 {
    color: $verde2;
    font-family: 'Spectral SC', serif;
}

.body h2 {
    color: $verde1;
    font-size: large;
    font-family: 'Cormorant SC', serif;
}

.bienvenida {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.subBienvenida {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3%;
}

//doy estilos al carousel
.carusel {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.carousel-item img {
    height: auto;
    width: 600px;
    object-fit: cover;
}

//doy estilo al footer
.footerBases{
    display: flex;
    justify-content: space-around;
}

.footerBases div img{
    height: 100px;
    width: 80px;
    border-radius: 2em;
}

.footerRedes{
    display: flex;
    justify-content: center;
    text-align: center;
}

.imgIg{
    display: flex;
    justify-content: center;
}

.imgIg img{
    height: 30px;
    width: 30px;
}

footer{
    background-color: $rosa2;
}



