//doy color de fondo a la pagina de inicio
.body {
    background-color: $piel;
    }

.body h1 {
    color: $verde2;
    font-family: 'Spectral SC', serif;
}

.body h2 {
    color: $verde1;
    font-size: large;
    font-family: 'Cormorant SC', serif;
}

.bienvenida {
    display: flex;
    justify-content: center;
    margin: 3%;
}

.subBienvenida {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3%;
}

.carusel {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.carousel-item img {
    height: 450px;
    width: 600px;
    object-fit: cover;
}



