//doy color al fondo de la pagina marca
.bodyMarca{
    background-color: $piel;
}
//doy margen a los div
.marca div{
    margin: 3%;
}
//doy estilo a los titulos
.marca h1{
    font-family: 'Noto Serif Display', serif;
    text-align: center;
    color: $verde2;
}

.marca h2{
    text-align: center;
    font-size: large;
    color: $verde1;
}

.marca h3{
    text-align: center;
    color: $rosa2;
}

//doy estilo al texto
.marca p{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

//doy tamaño a la imagen de marca
.marca img{
    height: 100px;
    width: 70px;
}

//acomodo los divs y les doy estilo
funcion flexbox, wrap, centro el texto y los contenedores de algunos divs
.primera, .segunda, .sexta, .segunda div div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.segunda div{
    display: flex;
    justify-content: space-between;
}
